*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',
    sans-serif;
}

body{
    background-color: whitesmoke;
}

.title-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.title{
    text-align: center;
    font-size: 55px;
}

.wrap-change-size-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;
}

.change-size-button{
    padding: 25px;
    background-color: #1de9b6;
    border-radius: 5%;
}

.container{
    background-color: white;
    margin: auto;
    width: 600px;
    height: 600px;
    display: grid;
}

.item{
    background-color: white;
    border: 1px solid black;
}

.color-picker{
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.random-color-button{
    display: flex;
    justify-content: center;
    align-items: center;
}
